body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

.pro {
  text-decoration: underline;
}

.imp {
  text-decoration: underline #B1AFFF;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 150px;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  font-family: 'Merriweather', serif;
  margin: 0 auto 0 auto;
  padding: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;

}
a {
  color: #11999E;
  text-decoration: none;
  margin: auto 20px;
}

p {
  line-height: 2;
}
a:hover{
  color: #EAF6F6;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 350px;
}

.middle-container {
  margin: 100px auto;
}

.amirpng {
  height: 150px;
  width: 150px;
}

.bio {
  width: 30%;
  margin: auto;
}

.html {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.html-skill-description {
  clear: left;
}

.skill-css-description {
  clear: right;
}

.css {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.mountain {
  position: relative;
  top: 8px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding:50px 0 40px;
}
.info{
    color: #EAF6F6;
    font-size: 0.75rem;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
